body{
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h2{
    margin-bottom: 20px;
    margin-top: 20px;
}
input{
    margin-bottom: 20px;
    margin-top: 20px;
}
.area{
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 10px;
    background-color: white;
}
.logo{
    width: 150px;
    height: auto;
}
.remember{
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}
.gray{
    color: #999999;
}
.padding{
    padding: 20px;    
}